@use '../../../assets/styles/variables' as *;

.account-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  background-color: $color-light-blue-gray;
  border-radius: 25px;
  overflow: hidden;

  .menu {
    padding: 20px;
    background-color: $color-light-blue-gray;

    .menu-item {
      margin-bottom: 10px;
      overflow: hidden;

      .menu-button {
        padding: 10px;
        background-color: $color-light-blue-gray;
        cursor: pointer;
        transition: background 0.3s;
        color: $color-white;

        &.active {
          background-color: $color-table-text;
          color: $color-white;
        }
      }

      .inner-buttons {
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: transparent;

        button {
          padding: 5px 10px;
          background-color: $color-light-blue-gray;
          border: none;
          cursor: pointer;
          transition: background 0.3s;

          &:hover {
            background-color: $color-table-text;
            color: $color-white;
          }
        }

        &.active {
          max-height: 500px;
          padding: 5px 0;
          background-color: $color-table-text;

          button {
            background-color: $color-table-text;
            color: $color-vivid-blue;
          }
        }
      }

      .menu-content {
        max-height: 0;
        padding: 0 10px;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: transparent;

        &.active {
          max-height: 200px;
          padding: 10px 0;
          background-color: $color-table-text;
          color: $color-white;
        }
      }
    }
  }

  .content-zone {
    background-color: $color-light-blue-gray;
    width: 100%;
    padding: 20px;

    h3 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 20px;
      color: $color-white;
      background: transparent;
      margin: 0;
    }

    .all-graph {
      background: transparent;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .graph-row {
        background: transparent;
        display: grid;
        gap: 20px;

        &.top-row {
          grid-template-columns: repeat(3, 1fr);
        }

        &.bottom-row {
          grid-template-columns: repeat(2, 1fr);
        }

        .graph {
          background-color: $color-table-text;
          height: 180px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
          font-weight: bold;
          padding: 10px;
          box-sizing: border-box;
          overflow: hidden;

          h3 {
            font-size: 2rem;
            font-weight: lighter;
            margin-bottom: 15px;
            color: $color-white;
            background: transparent;
            margin: 0;
          }
        }

        .first {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 50px;

          .score {
            width: 100%;
            display: flex;
            gap: 25px;
            background-color: transparent;

            h3 {
              background: transparent;
              color: $color-white;
              margin: 0;
              font-size: 3.5rem;
              font-weight: 500;
            }

            .description {
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 2px 10px;
              border: 1px solid $color-vivid-blue;
              border-radius: 35px;
              background-color: transparent;

              .dot {
                width: 10px;
                height: 10px;
                background-color: $color-vivid-blue;
                border-radius: 50%;
              }

              .text {
                background-color: transparent;
                margin-left: 10px;
                font-size: 1rem;
                color: $color-vivid-blue;
                font-weight: bold;
              }
            }
          }
        }

        .second {
          display: flex;
          flex-direction: column;

          canvas.curve {
            background: transparent !important;
          }
        }
      }
    }
  }
}
