@use '../../../assets/styles/variables' as *;

.account-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  background-color: $color-light-blue-gray;
  border-radius: 25px;
  overflow: hidden;

  .menu {
    padding: 20px;
    background-color: $color-light-blue-gray;

    .menu-item {
      margin-bottom: 10px;
      overflow: hidden;

      .menu-button {
        padding: 10px;
        background-color: $color-light-blue-gray;
        cursor: pointer;
        transition: background 0.3s;
        color: $color-white;

        &.active {
          background-color: $color-table-text;
          color: $color-white;
        }
      }

      .inner-buttons {
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: transparent;

        button {
          padding: 5px 10px;
          background-color: $color-light-blue-gray;
          border: none;
          cursor: pointer;
          transition: background 0.3s;

          &:hover {
            background-color: $color-table-text;
            color: $color-white;
          }
        }

        &.active {
          max-height: 500px;
          padding: 5px 0;
          background-color: $color-table-text;

          button {
            background-color: $color-table-text;
            color: $color-vivid-blue;
          }
        }
      }

      .menu-content {
        max-height: 0;
        padding: 0 10px;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        background-color: transparent;

        &.active {
          max-height: 200px;
          padding: 10px 0;
          background-color: $color-table-text;
          color: $color-white;
        }
      }
    }
  }

  .content-zone {
    background-color: $color-light-blue-gray;
    width: 100%;
    height: 400px;
    padding: 20px;

    h3 {
      background-color: $color-light-blue-gray;
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
      color: $color-white;
    }
  }
}
