@use '../../../assets/styles/variables' as *;

.home-container {
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray;
    padding: 10px 0 10px 0;

    h1 {
      margin-left: 150px;
      color: $color-white;
      font-weight: 400;
      font-size: 2rem;
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 70px;
      gap: 20px;

      input {
        padding: 12px 20px;
        font-size: 1rem;
        border-radius: 30px;
        border: 0;
        outline: none;
        width: 400px;
        height: 30px;
        background-color: $color-light-blue-gray;
        color: $color-gray;
        font-weight: 400;
      }

      .user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(135deg, $color-vivid-blue, $color-dark-blue-gray);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

        p {
          font-size: 1.2rem;
          background: none;
        }
      }
    }
  }

  .button-row {
    display: flex;
    gap: 10px;
    margin: 20px 0 20px 150px;

    button {
      padding: 12px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.125rem;
      border-radius: 30px;
      border: 0;
      outline: none;
      height: 50px;
      background-color: $color-dark-gray;
      color: $color-light-gray;
      border: 1px solid $color-gray;
      font-weight: 400;
      cursor: pointer;
      gap: 10px;

      .button-icon {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $color-vivid-blue;
        color: $color-white;
      }

      &.active {
        background-color: $color-vivid-blue;
        color: $color-white;
      }
    }
  }

  .content-zone {
    margin-left: 150px;
  }
}
