/* You can add global styles to this file, and also import other style files */
@use './assets/styles/variables' as *;

* {
  background-color: $color-blue-gray;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
