$color-blue-gray: #141c24;
$color-gray: #494e51;
$color-white: #fffeff;
$color-light-blue-gray: #242f3b;
$color-vivid-blue: #1372d2;
$color-dark-blue-gray: #08233a;
$color-dark-gray: #1a1a1a;
$color-light-gray: #c2c2c2;

