$color-blue-gray: #141c24;
$color-gray: #494e51;
$color-white: #fffeff;
$color-light-blue-gray: #242f3b;
$color-vivid-blue: #1372d2;
$color-dark-blue-gray: #100d23;
$color-dark-gray: #1a1a1a;
$color-light-gray: #c2c2c2;
$color-muted-gray: #9c9c9c;
$color-table-text: #2c333a;
$color-dark-blue: #1060af;

