@use '../../../assets/styles/variables' as *;

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
}

.info-box {
  display: grid;
  grid-template-columns: 53% 22% 22%;
  gap: 20px;

  .queue,
  .goals {
    background-color: $color-light-blue-gray;
    color: $color-white;
    border-radius: 25px;
    padding: 20px 15px 20px 15px;

    h2 {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0;
      background: none;
    }
  }

  .queue {
    .button-row {
      display: flex;
      gap: 10px;
      margin: 10px 0 20px 0;
      background: none;

      button {
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 30px;
        border: 0;
        outline: none;
        height: 35px;
        background-color: $color-dark-gray;
        color: $color-light-gray;
        font-weight: 400;
        cursor: pointer;
        gap: 10px;

        .button-icon {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: $color-vivid-blue;
          color: $color-white;
        }

        &.active {
          background-color: $color-vivid-blue;
          color: $color-white;
        }
      }
    }

    .table-queue {
      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th,
        td {
          padding: 12px 10px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          color: $color-white;
        }

        th {
          background-color: transparentize($color-muted-gray, 0.82);
          font-weight: 300;
          font-size: 0.875rem;
          position: sticky;
          top: 0;
          z-index: 5;
        }

        th:nth-child(1),
        td:nth-child(1) {
          width: 20%;
        }
        th:nth-child(2),
        td:nth-child(2) {
          width: 20%;
        }
        th:nth-child(3),
        td:nth-child(3) {
          width: 15%;
        }
        th:nth-child(4),
        td:nth-child(4) {
          width: 15%;
        }
        th:nth-child(5),
        td:nth-child(5) {
          width: 20%;
        }
        th:nth-child(6),
        td:nth-child(6) {
          width: 10%;
        }

        .menu-cell {
          position: relative;
          width: 40px;
          overflow: visible;

          .menu-wrapper {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .dots-vertical {
              font-size: 1.5rem;
              user-select: none;
              color: white;
            }

            .menu-options {
              position: absolute;
              top: 20px;
              right: 0;
              display: flex;
              flex-direction: column;
              background-color: $color-dark-gray;
              border-radius: 8px;
              overflow: hidden;
              z-index: 10;

              button {
                background: none;
                border: none;
                color: white;
                padding: 8px 12px;
                text-align: left;
                cursor: pointer;
                font-size: 0.875rem;

                &:hover {
                  background-color: $color-vivid-blue;
                }
              }
            }
          }
        }
      }

      .viewport {
        height: 450px;
        overflow: auto;
        background: $color-light-blue-gray;
      }
    }
  }

  .goals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .progress-container {
      margin-bottom: 15px;
      background: none;
    }

    .progress-label {
      margin-bottom: 6px;
      font-weight: 300;
      font-size: 1rem;
      background: none;
    }

    .progress-bar-wrapper {
      position: relative;
      width: 95%;
    }

    .progress-bar {
      display: flex;
      height: 30px;
      border-radius: 15px;
      overflow: hidden;
      background: $color-table-text;
      position: relative;

      .progress-segment {
        height: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .progress-inside {
          font-size: 0.75rem;
          color: $color-white;
          position: relative;
          z-index: 2;
        }

        .progress-text {
          background: none;
          color: $color-white;
          font-size: 0.875rem;
          position: relative;
          z-index: 2;
        }
      }

      .progress-segment:last-child {
        border-radius: 0 15px 15px 0;
      }
    }

    .progress-container:nth-child(4) .progress-segment {
      background: linear-gradient(90deg, $color-table-text 0%, $color-vivid-blue 100%);
    }

    .progress-container:nth-child(5) .progress-segment {
      background: linear-gradient(90deg, $color-table-text 0%, $color-vivid-blue 100%);
    }

    .progress-values {
      background: none;

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      width: 100%;

      .progress-value {
        background: none;
        text-align: center;
        font-size: 0.625rem;
        color: $color-white;
      }
    }
  }

  .options {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    .actions {
      background-color: $color-light-blue-gray;
      color: white;
      border-radius: 25px;
      padding: 20px 15px 20px 15px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h2 {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        background: none;
      }

      .button-col {
        background: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
          padding: 10px 15px;
          font-size: 1rem;
          font-weight: 500;
          color: $color-white;
          background-color: $color-vivid-blue;
          border: none;
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.2s, color 0.2s;

          &:hover {
            background-color: $color-vivid-blue;
            color: $color-white;
          }
        }
      }
    }

    .intelligence {
      background-color: $color-light-blue-gray;
      color: white;
      border-radius: 25px;
      padding: 20px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        background: none;
        color: $color-white;
      }

      .intelligence-items {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-top: 15px;

        .intelligence-item {
          background: none;
          display: flex;
          align-items: center;
          gap: 10px;

          .circle {
            min-width: 15px;
            min-height: 15px;
            border-radius: 50%;
          }

          &.red .circle {
            background-color: red;
          }
          &.yellow .circle {
            background-color: yellow;
          }
          &.blue .circle {
            background-color: blue;
          }

          span {
            font-size: 1.125rem;
            font-weight: 400;
            color: $color-white;
            background: none;
          }
        }
      }
    }
  }
}

.accounts {
  padding: 20px 15px 20px 15px;
  background-color: $color-light-blue-gray;
  gap: 10px;
  border-radius: 25px;
  margin-bottom: 40px;

  .accounts-nav {
    background: none;
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0;
      background: none;
      color: $color-white;
    }

    input {
      width: 200px;
      padding: 10px;
      border-radius: 30px;
      border: none;
      padding: 10px 20px;
      font-size: 0.825rem;
      border: 0;
      outline: none;
      background-color: $color-dark-gray;
      color: $color-gray;
      font-weight: 400;
    }

    .button-row {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 15px 0 15px 0;
      background: none;

      button {
        padding: 3px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.825rem;
        border-radius: 30px;
        border: 0;
        outline: none;
        height: 35px;
        border: 1px solid $color-vivid-blue;
        background-color: $color-dark-gray;
        color: $color-vivid-blue;
        font-weight: 400;
        cursor: pointer;
        gap: 10px;

        .button-icon {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: $color-vivid-blue;
          color: $color-white;
        }

        &.active {
          background-color: $color-vivid-blue;
          color: $color-white;
        }
      }
    }
  }

  .table-accounts {
    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      .no-results {
        text-align: center;
        background-color: $color-light-blue-gray;
        color: $color-white;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 15px 0;
      }

      th,
      td {
        padding: 12px 10px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
        color: $color-white;
      }

      th {
        background-color: $color-table-text;
        font-weight: 300;
        font-size: 0.875rem;
        position: sticky;
        top: 0;
        z-index: 5;
      }

      th:nth-child(1),
      td:nth-child(1) {
        width: 15%;
      }
      th:nth-child(2),
      td:nth-child(2),
      th:nth-child(3),
      td:nth-child(3),
      th:nth-child(4),
      td:nth-child(4),
      th:nth-child(5),
      td:nth-child(5),
      th:nth-child(6),
      td:nth-child(6),
      th:nth-child(7),
      td:nth-child(7),
      th:nth-child(8),
      td:nth-child(8),
      th:nth-child(9),
      td:nth-child(9),
      th:nth-child(10),
      td:nth-child(10),
      th:nth-child(11),
      td:nth-child(11) {
        width: 8%;
      }

      th:nth-child(12),
      td:nth-child(12) {
        width: 5%;
      }

      .menu-cell {
        position: relative;
        width: 40px;
        overflow: visible;

        .menu-wrapper {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .dots-vertical {
            font-size: 1.5rem;
            user-select: none;
            color: $color-white;
          }

          .menu-options {
            position: absolute;
            top: 20px;
            right: 0;
            display: flex;
            flex-direction: column;
            background-color: $color-dark-gray;
            border-radius: 8px;
            overflow: hidden;
            z-index: 100;

            button {
              background: none;
              border: none;
              color: $color-white;
              padding: 8px 12px;
              text-align: left;
              cursor: pointer;
              font-size: 0.875rem;

              &:hover {
                background-color: $color-vivid-blue;
              }
            }
          }
        }
      }
    }

    .viewport {
      height: 260px;
      overflow: auto;
      background: $color-light-blue-gray;
    }
  }
}
